.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#NavBlack {
  background-color: #263238;
}

#NavBrand {
  color: #263238;
  font-weight: 700;
  text-decoration:none;
}

#NavBrandBlack {
  color: #FCF9F9;
  font-weight: 700;
  text-decoration:none;
}

#NavLink {
  color: #263238;
  font-weight: 500;
}

#NavLinkBlack {
  color: #FCF9F9;
  font-weight: 500;
}

#NavLinkNotGrey {
  color: #516B78;
  font-weight: 500;
}

#NavLinkGrey {
  color: rgb(252, 249, 249, 0.9);
  font-weight: 500;
}

#NavLink, #NavLinkBlack, #NavLinkGrey :hover {
  cursor: pointer;
}

#TextButton {
  color: #57CC99;
  font-weight: 700;
  text-decoration: none;
}

.rectangle {
  height: 0.3rem;
  width: 12rem;
  background-color: #57CC99;
}